<div class="about-page">
  <div id="about-container">
      <div id="about-body" class="well">
        <h1>ABOUT PAGE</h1>
        <p>"LedgR is an easy to use organizational tool designed to simplify your job search, by keeping track of important information about the jobs that interest you. Create, edit, and delete job profiles for potential employers, and track information such as company name, when you applied, and contact information. Leave yourself notes about each job to remind yourself of upcoming tasks, and keep track of your thoughts. Eliminate the monotony of juggling multiple job searches with LedgR, the simple way to mange your hiring process!"</p>
    </div>
  </div>
</div>
