<div class="container loginPage">
  <form action="/users" method="GET">

    <div class="header">
      <h2>User Login!</h2>
    </div>
    <hr>
    <div>
      <label for="email">Email</label>
      <input type="email" placeholder="Enter Email" name="email" required="required">
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" name="password" required="required">
    </div>

    <div>
      <button class="login-button" type="submit">Login</button>
      <!-- <input type="checkbox" checked="checked"> -->
    </div>

  </form>
</div>
