<div class="container loginPage">
  <form action="/sessions/login" method="post">
    <div class="header">
      <h2>User Login!</h2>
    </div>
    <br />
    <div>
      <label for="email">Email</label>
      <input type="email" placeholder="Enter Email" name="email" required="required">
    </div>
    <br />
    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" name="password" required="required">
    </div>
    <br />
    <div>
      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>
    </div>
  </form>
</div>
