<div  ng-controller="$ctrl.loadCurrentUser as user">
<p class="user">
	<h1>User Dashboard</h1>
	<!-- Added user email call  -->
<!-- 	<h1> {{ $ctrl.current.email }}</h1> -->
</p>
<button class="btn btn-default" ui-sref="jobsNew({ userId: $ctrl.current._id })">Add New Job</button>

<!-- userId: $ctrl.current._id -->
<div class="card-group">
	<div ng-repeat="jobs in $ctrl.current.jobs">
		<!-- <a ui-sref="jobId({ jobId: jobs._id, userId: $ctrl.current._id })"> -->
		<div class="dashboard-content">
			<div id="jobCards">
			    <div class="card-block">
			      <a ui-sref="jobId({ jobId: jobs._id, userId: $ctrl.current._id })">
			      <h3 class="card-title">{{jobs.company}}</h3></a>
			      <p class="card-text">{{jobs.job_title}}</p>
			      <p class="card-text">{{jobs.phone}}</p>
			      <p class="card-text">{{jobs.email}}</p>
			      <p class="card-text">{{jobs.website}}</p>
			    </div>
			 </div>
		</div>
	</div>
</div>

