<h1>Jobs Show Board</h1>

<div ng-controller="JobsShowController as job">

<!-- 1. Not sure how to call this for sure but added it anyway.  -->
<!-- 2. Added a filter to sort by descending order. -->
	<div ng-repeat="job in projectThree.user.jobs.length | orderBy: '-job'">
		 <input class="form-control btn-warning" type="submit" value="Edit" id="example-color-input">
		 <input class="form-control btn-danger" type="submit" value="Delete" id="example-color-input">
		 <input class="form-control btn-success" type="submit" value="Submit" id="example-color-input">

<!-- 3. A little iffy on this ng-if declaration, our schema doesn't have a job obj.-->
		<note ng-if="note.jobs">Your Notes</note>

	<div>

</div>
