<h1>Job Page</h1>
<div>
	<div class="jobId">
		<div ng-show="$ctrl.currentJob">
			<div>
				Company: {{$ctrl.currentJob.company}}
				<br />
				Title: {{$ctrl.currentJob.job_title}}
				<br />
				Email: {{$ctrl.currentJob.email}}
				<br />
				Phone: {{$ctrl.currentJob.phone}}
				<br />
				Website: {{$ctrl.currentJob.website}}

				<button class="btn btn-default" ui-sref="jobsEdit">Edit</button>
				<form ng-submit="$ctrl.deleteJob({userId: userId, jobId: jobId})">
				<button class="btn btn-default" >Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- ui-sref="userShow({userId: $ctrl.userId})" -->