<h2>Jobs Board Edit Page</h2>
<br />
<div class="add-jobs">
<div ng-show="$ctrl.currentJob">
  <div class="signup">
    <form ng-submit="$ctrl.updateCurrentJob()">

    <div class="my form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Company</label>
   <div class="col-10">
      <input class="my-input" class="form-control" type="text" value="Company" ng-model="$ctrl.updatedJob.company" id="example-text-input" required="required" >
    </div>
   <br />
  </div>
  <div class="my form-group row">
   <label for="example-search-input" class="col-2 col-form-label">Job Title</label>
   <div class="col-10">
     <input class="my-input" class="form-control" type="text" value="Job Title" id="example-search-input" ng-model="$ctrl.updatedJob.job_title" required="required">
   </div>
    <br />
   </div>
  <div class="my form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Phone</label>
    <div class="col-10">
      <input  class="my-input" class="form-control" type="tel" value="555-555-5555" ng-model="$ctrl.updatedJob.phone" id="example-email-input">
   </div>
   <br />
  </div>
   <div class="my form-group row">
     <label for="example-email-input" class="col-2 col-form-label">Email</label>
     <div class="col-10">
      <input class="my-input" class="form-control" type="email" value="LedgR@example.com" id="example-email-input" ng-model="$ctrl.updatedJob.email">
     </div>
     <br />
   </div>
   <div class="my form-group row">
     <label for="example-url-input" class="col-2 col-form-label">Website</label>
    <div class="col-10">
       <input class="my-input" class="form-control" type="url" value="https://www.LedgR.com" id="example-url-input" ng-model="$ctrl.updatedJob.website">
     </div>
     <br />
   </div>

     <div id=add-submit>
      <input id="my-input" class="form-control btn-success" type="submit" value="Submit" id="example-color-input">
      </div>
    </form>
    </div>
  </div>
</div>

</div>
