<div class="home">
  <div class="card-block">
    <div class="home-card">
      <div id="home-well" class="well">
      	<div class="row">
      		<div class="col-md-12">
      			<h3>LedgR</h3>
      		</div>
      		<div class="col-md-12">
      			<p>LedgR is an easy to use organizational tool designed to simplify your job search, by keeping track of important information about the jobs that interest you.</p>
      		</div>
      		<div class="col-md-12">
      			<img id="homepage-img" src="http://i.imgur.com/q5y2lbj.jpg">
      		</div>
      	</div>

      </div>
    </div>
  </div>
</div>
