<h2>Sign Up</h2>
<br />
<div class="container signup">
  <form action="/users" method="post">
    <div>
      <label for="firstName">first name</label>
      <input type="text" name="firstName" required="required">
    </div>
    <br />

    <div>
      <label for="lastName">last name</label>
      <input type="text" name="lastName" required="required">
    </div>

    <br />
    <div>
      <label for="email">email</label>
      <input type="email" name="email" required="required">
    </div>

    <br />
    <div>
      <label for="password">password</label>
      <input type="text" name="password" required="required">
    </div>

    <br />
    <input type="submit" value="Submit">
  </form>
</div>
