<h2>Sign Up</h2>
<br />

<div class="container signup">
<!--   <form action="/users" method="post"> -->
  <form ng-submit="$ctrl.addNewUser()" id="newUser">
    <div>
      <label for="firstName">First name</label>
      <input type="text" ng-model="$ctrl.newUser.firstName" name="firstName" required="required">
    </div>
    <br />

    <div>
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" ng-model="$ctrl.newUser.lastName" required="required">
    </div>

    <br />
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" ng-model="$ctrl.newUser.email" required="required">
    </div>

    <br />
    <div>
      <label for="password">Password</label>
      <input type="text" name="password" ng-model="$ctrl.newUser.password" required="required">
    </div>

    <br />
    <input type="submit" value="Submit">
  </form>
</div>
